body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c9c508;
}

header {
    background-color: #04500a;
    color: #c9c508;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #c9c508;
    text-decoration: none;
}

main {
    padding: 1rem;
}

section {
    margin-bottom: 2rem;
}

h2 {
    border-bottom: 2px solid #04500a;
    padding-bottom: 0.5rem;
}

footer {
    background-color: 04500a;
    color: #c9c508;
    text-align: center;
    padding: 1rem 0;
}